@model IEnumerable<ShoppingList>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
            <div class="col-6">
                <h3 class="text-info">Lista de compras</h3>
            </div>
        <div class="col-6 text-end">
            <a asp-controller="ShoppingList" asp-action="Create" class="btn btn-success">Novo artigo</a>
            </div>
    </div>
</div>
<table class="text-center text-dark table-responsive table-sm table table-success table-hover table align-middle" style="width:100%;">
    <thead>
        <tr>
            <th>Género</th>
            <th>Nome</th>
            <th>Variedade</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ShoppingList obj in Model)
        {
            <tr>
                <td>@obj.Genero</td>
                <td>@obj.Nome</td>
                <td>@obj.Variedade</td>
                <td>@obj.Quantidade</td>
                <td>@obj.Preco</td>
            </tr>
        }
        <tr>
            <td colspan="3"></td>
            <td>total:</td>
            <td>@Model.Sum(soma=>soma.Preco)</td>
        </tr>
    </tbody>
</table>